In [61]:
from datasets import load_dataset

dataset = load_dataset("oscarfossey/NLP_Pole_emploi")

Using custom data configuration oscarfossey--NLP_Pole_emploi-b903082173a3c67b
Reusing dataset csv (C:\Users\Oscar\.cache\huggingface\datasets\csv\oscarfossey--NLP_Pole_emploi-b903082173a3c67b\0.0.0\433e0ccc46f9880962cc2b12065189766fbb2bee57a221866138fb9203c83519)

  0%|          | 0/2 [00:00<?, ?it/s]

In [56]:
df_train_2 = pd.DataFrame(dataset['train'])

In [57]:
df_train_2.head()

,textual description,code_rome,categorie,sub_categorie,sub_sub_categorie,name,text_length
0,Nous recherchons pour le compte de notre clien...,I1305,I,13,5,Installation et maintenance électronique,304
1,Vous aurez en charge de superviser une équipe ...,N3103,N,31,3,Navigation fluviale,3214
2,L'Association des PEP 71 Recrute pour l'IME Or...,K1305,K,13,5,Intervention sociale et familiale,3124
3,CONTRAT DE FORMATION EN ALTERNANCE Groupe Alte...,G1302,G,13,2,Optimisation de produits touristiques,1559
4,"Trajectoires Conseils et Carrières, cabinet de...",H2505,H,25,5,Encadrement d'équipe ou d'atelier en matériaux...,1294

In [58]:
dataset

DatasetDict({
    train: Dataset({
        features: ['textual description', 'code_rome', 'categorie', 'sub_categorie', 'sub_sub_categorie', 'name', 'text_length'],
        num_rows: 38640
    })
    test: Dataset({
        features: ['textual description', 'code_rome', 'categorie', 'sub_categorie', 'sub_sub_categorie', 'name', 'text_length'],
        num_rows: 12881
    })
})

In [48]:
dataset_train = load_dataset("oscarfossey/NLP_Pole_emploi", data_files='train_dataset.csv')

Using custom data configuration oscarfossey--NLP_Pole_emploi-11e9f42e4d8dea50
Reusing dataset csv (C:\Users\Oscar\.cache\huggingface\datasets\csv\oscarfossey--NLP_Pole_emploi-11e9f42e4d8dea50\0.0.0\433e0ccc46f9880962cc2b12065189766fbb2bee57a221866138fb9203c83519)

  0%|          | 0/1 [00:00<?, ?it/s]

In [6]:
import pandas as pd

In [52]:
df_train = pd.DataFrame(dataset_train['train'])

In [54]:
df_train.head()

,textual description,code_rome,categorie,sub_categorie,sub_sub_categorie,name,text_length
0,Nous recherchons pour le compte de notre clien...,I1305,I,13,5,Installation et maintenance électronique,304
1,Vous aurez en charge de superviser une équipe ...,N3103,N,31,3,Navigation fluviale,3214
2,L'Association des PEP 71 Recrute pour l'IME Or...,K1305,K,13,5,Intervention sociale et familiale,3124
3,CONTRAT DE FORMATION EN ALTERNANCE Groupe Alte...,G1302,G,13,2,Optimisation de produits touristiques,1559
4,"Trajectoires Conseils et Carrières, cabinet de...",H2505,H,25,5,Encadrement d'équipe ou d'atelier en matériaux...,1294